---
import Layout from "@layouts/Layout.astro";
const { name } = Astro.params;
---

<Layout title={name ?? "agent"}>
    <main class=" my-6 px-8">
        <a href="/characters" class="text-black-500 "> 
            <svg class="w-6 h-6 inline-block" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
            </svg>
            Back
        </a>
        <div class="text-center">
            <span transition:name=`${name}` class=" text-center text-5xl font-bold capitalize">{name}</span>
        </div>
    </main>
</Layout>
